@import 'helpers';

.MainHeader {
  text-align: center;

  &__avatar {
    $colour: $primary;

    background-color: $white;
    max-width: 160px;
    max-height: 160px;
    box-shadow:
      0 0 1px 11px rgba($colour, .15),
      0 0 1px 22px rgba($colour, .1);
    border: 4px solid rgba($colour, 1);
  }

  &__title {
    font-weight: $font-weight-black;
  }

  &__subtitle {
    color: $light !important;
    font-weight: $font-weight-medium;
    margin-bottom: map-get($spacers, 4);
  }
}
