@import 'helpers';

$rounded-edge-height: 40px;

@mixin rounded-top-padding($padding) {
  &.Section--rounded-top {
    padding: calc(#{$padding} - #{$rounded-edge-height}) 0;

    @include media-breakpoint-down(xs) {
      padding: $padding 0;
    }
  }
}

.Section {
  &--gray {
    background-color: $gray-100;
    color: $gray-700;
  }

  &--padding-large {
    $padding: 12rem;

    padding: $padding 0;

    @include rounded-top-padding($padding);

    @include media-breakpoint-down(sm) {
      padding: ($padding * .75) 0;
    }
  }

  &--padding-small {
    $padding: 4rem;

    padding: $padding 0;

    @include rounded-top-padding($padding);
  }

  &--rounded-bottom {
    position: relative;

    &:after {
      content: '';
      padding-bottom: 3%;
      background-image: url('../../images/round-edge.svg');
      margin-bottom: -.625rem !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      position: absolute;
      bottom: 0;
      z-index: 0;

      @include media-breakpoint-up(xs) {
        display: none;
      }

      @include media-breakpoint-up(sm) {
        display: block;
        width: 170%;
        margin-left: -35%;
      }

      @include media-breakpoint-up(lg) {
        width: 110%;
        margin-left: -5%;
      }
    }
  }

  &--bg-stars {
    background-color: #1c013b;
    background-position: center;
    background-image: url('../../images/stars.svg');
    background-size: auto auto;
    color: $light;
    text-shadow: 0px 1px 3px rgba($black, 1);

    @include headings-colour($white);
  }
}
