// Custom vars
$font-weight-medium: 500;

$section-dark-bg: #111026;
$section-padding-vertical: 80px;
$section-padding-vertical-sm: 30px;
$section-padding-vertical-xl: 150px;

$transition-styles-speed: .1s;
$transition-styles:
  color $transition-styles-speed ease-in-out,
  background-color $transition-styles-speed ease-in-out,
  border-color $transition-styles-speed ease-in-out,
  box-shadow $transition-styles-speed ease-in-out;

// Bootstrap variable overrides
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 1.1rem;
$headings-font-weight: 700;
$line-height-base: 2.5;
$btn-transition: $transition-styles;

$btn-font-weight: $font-weight-medium;
$btn-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);

$grid-gutter-width: 40px;

$input-btn-padding-y: 0;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Colours
$indigo: #7a65e3;
$orange: #ff7e33;
$primary: $orange;
$secondary: $indigo;
$light: rgba(#cbcfe6, 0.65);
$body-color: $gray-700;
$headings-color: $gray-900;
// $link-color: $secondary;
