@import 'vars';

a {
  transition: $transition-styles;
}

.navbar {
  background-color: rgba($black, .0);
  border-bottom: 1px solid $border-color;
  border-bottom-width: 1px;
  border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 100%) 5%;
  width: 100%;
  z-index: 1;

  a {
    color: $white;
    font-weight: $font-weight-medium;

    &:hover {
      color: $link-color;
    }
  }

  .navbar-brand {
    img {
      max-height: 50px;
    }
  }

  .navbar-nav {
    width: 100%;
  }
}

footer {
  background-color: $section-dark-bg;
  color: $white;
  padding: $section-padding-vertical-sm 0;
}


.trait {
  margin-top: 2rem;

  &__skills {
    font-size: $font-size-sm;

    li {
      code {
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        padding: .3rem;
      }
    }
  }
}
