@import 'vars';

.navbar {
  background-color: rgba($black, .3);
  border-bottom: 1px solid $border-color;
  border-bottom-width: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.1) 50%, rgba(255,255,255,0) 100%) 5%;

  a {
    color: $white;
    transition: $transition-styles;

    &:hover {
      color: $link-color;
    }
  }

  .navbar-brand {
    img {
      max-height: 50px;
    }
  }

  .navbar-nav {
    width: 100%;
  }
}

section {
  &#main {
    background-color: #111026;
    background-image: url('../svg/lattice.svg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, .5);
    position: relative;
    padding-bottom: $section-padding-vertical + 58px;
    padding-top: $section-padding-vertical + 82.5px;

    &:after {
      content: '';
      display: block;
      padding-bottom: 3%;
      background-image: url(../svg/round-edge.svg);
      width: 110%;
      margin-left: -5%;
      margin-bottom: -.625rem !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      position: absolute;
      bottom: 0;
      z-index: 90;
    }

    .container {
      .intro {
        max-width: 720px;
        text-shadow: 0 1px 1px rgba($body-color, .3);

        &__avatar {
          $colour: $primary;

          border: 4px solid $colour;
          box-shadow:
            0 0 1px 11px rgba($colour, .15),
            0 0 1px 22px rgba($colour, .1);
          max-width: 170px;
        }

        &__title {
          color: $white;
        }

        &__social-links {
          a {
            $size: 38px;

            background-color: rgba($white, .15);
            border: 1px solid rgba($border-color, .15);
            border-radius: 100%;
            color: $white;
            display: inline-block;
            height: $size;
            width: $size;
            line-height: $size;

            &:not(:last-of-type) {
              margin-right: 1rem;
            }

            &:hover {
              background-color: rgba($white, .2);
              box-shadow:
                0 0 1px 2px rgba($indigo, .1),
                0 0 1px 4px rgba($indigo, .05);
            }
          }
        }
      }
    }
  }

  &#work {
    section:first-of-type {
      padding-top: $section-padding-vertical - 58px;
    }

    .trait {
      margin-top: 2rem;

      &__skills {
        font-size: $font-size-sm;

        li {
          code {
            background-color: $white;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            padding: .3rem;
          }
        }
      }
    }
  }
}
