@import 'vars';
@import 'mixins';

// Typography

a {
  font-weight: $font-weight-bold;
  transition: color .05s ease-in-out;
}

.font-weight-medium {
  font-weight: $font-weight-medium;
}

.btn {
  box-shadow: $btn-box-shadow;

  &-primary,
  &-secondary {
    color: $white;
  }

  .fas,
  svg {
    margin-right: .3rem;
  }
}


// Layout

section {
  @include headings-colour($gray-900);

  .section__intro {
    margin-bottom: map-get($spacers, 5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;

    &__title {
      &__index {
        color: $primary;
      }
    }
  }

  &.section {
    &--gray {
      color: $gray-700;
      background-color: $gray-100;
    }

    &--bg-stars {
      background-color: $section-dark-bg;
      background-position: center;
      background-image: url('../svg/stars.svg');
      background-size: auto auto;
      box-shadow: inset 0px 0px 20px 2px $black;
      color: $gray-300;
      font-weight: $font-weight-medium;
      text-shadow: 0px 1px 3px rgba($black, 1);

      .section__intro__title {
        color: $white;

        &__index {
          color: $primary;
        }
      }

      @include headings-colour($primary);
    }

    &--padding {
      padding: $section-padding-vertical 0;

      &.section--rounded-top {
        padding-top: calc(#{$section-padding-vertical} - #{$round-edge-height});
      }
    }
  }
}
