@import 'vars';

// Typography

a {
  font-weight: $font-weight-bold;
  transition: color .05s ease-in-out;
}

.font-weight-medium {
  font-weight: $font-weight-medium;
}

.btn {
  box-shadow: $btn-box-shadow;

  &-primary,
  &-secondary {
    color: $white;
  }

  .fas,
  svg {
    margin-right: .3rem;
  }
}


// Layout

section.gray {
  background-color: $gray-100;
}

section {
  &.section {
    &--padding {
      padding: $section-padding-vertical 0;
    }

    &--padding-xl {
      padding: $section-padding-vertical-xl 0;
    }
  }
}
