{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta
      property="og:site_name"
      content="Daniel Spajic | Full-stack developer, maker, and freelancer">
    {% block meta %}

    {% endblock %}

    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% render_bundle "vendor" "css" %}
    {% render_bundle "common" "css" %}

    {% block assets_header %}

    {% endblock %}
  </head>
  <body>
    <main>
      {% block page_content %}

      {% endblock %}
    </main>

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
      integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
      crossorigin="anonymous"></script>
    {% render_bundle "vendor" "js" %}
    {% render_bundle "common" "js" %}

    {% block assets_footer %}

    {% endblock %}
  </body>
</html>
