{% extends "main/base.html" %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

{% block assets_header %}
  {% render_bundle "homePage" "css" %}
{% endblock %}

{% block page_content %}
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="{% webpack_static 'img/logo-orange.png' %}"
          class="d-inline-block align-top"
          alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item">
            <a class="nav-link" href="#">Values</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Skill-set</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <button type="button" class="btn btn-secondary">
                <i class="fas fa-paper-plane"></i>
                Get In Touch
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="main" class="section--padding">
    <div class="background-image"></div>
    <div class="container">
      <header class="intro mx-auto text-center text-white">
        <img
          class="intro__avatar rounded-circle mb-5"
          src="{% webpack_static "img/daniel-spajic-avatar.jpg" %}"
          alt="Daniel Spajic">
        <h1 class="mb-3 intro__title">Daniel Spajic</h1>
        <h3 class="mb-4 text-light font-weight-medium">
          Full-stack developer, maker, and freelancer
        </h3>
        <p class="intro__social-links mb-0">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-stack-overflow"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-medium"></i>
          </a>
        </p>
      </header>
    </div>
  </section>
  <section id="work">
    <section class="section--padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <p>I'm a full-stack developer with a passion for all facets of
              building incredible software.</p>
            <p>Although my skill-set is diverse, <b>I specialise in front-end and
              back-end development.</b> I've worked on projects of all sizes from
              start-to-finish, as part of a team, and as a freelancer.</p>
            <p>
              <b>I'm keen to work with passionate people working on interesting
              projects.</b> If that's you and you're looking for the right person
              for a job, continue reading to see if we're a match 😁
            </p>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </section>
    <section class="gray section--padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Skill-set</h2>
            <p>As an individual with diverse interests and experience, I've
              developed a broad, yet deep skill-set as a web developer.</p>
            <div class="row">
              <div class="col-lg-6">
                <div class="trait">
                  <h3>
                    <i class="material-icons">code</i>
                    Developer
                  </h3>
                  <p>I love the art of software development and have a passion for
                    writing satisfying, clean, modular, and maintainable code.</p>
                  <p>This also means I strive to follow best practices and use
                    industry standard tools, including <code>Git</code>,
                    <code>TDD</code>, and <code>code linting</code>.</p>
                  <p>Although I've a wide range of experience, my primary stack and
                    favourite tools include <code>Python</code>, <code>Django</code>,
                    <code>Docker</code>, <code>PostgreSQL</code>, <code>ReactJS</code>,
                    <code>Sass</code>, and <code>Bootstrap 4</code>.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="trait">
                  <h5>
                    <i class="material-icons">web</i>
                    Front-end development
                  </h5>
                  <ul class="list-inline trait__skills">
                    <li class="list-inline-item"><code>HTML</code></li>
                    <li class="list-inline-item"><code>CSS</code></li>
                    <li class="list-inline-item"><code>Bootstrap 4</code></li>
                    <li class="list-inline-item"><code>Sass</code></li>
                    <li class="list-inline-item"><code>JavaScript (<= ES7)</code></li>
                    <li class="list-inline-item"><code>jQuery</code></li>
                    <li class="list-inline-item"><code>ReactJS</code></li>
                    <li class="list-inline-item"><code>Redux</code></li>
                    <li class="list-inline-item"><code>Webpack</code></li>
                    <li class="list-inline-item"><code>Babel</code></li>
                    <li class="list-inline-item"><code>NPM</code></li>
                    <li class="list-inline-item"><code>PWA fundamentals</code></li>
                  </ul>
                </div>
                <div class="trait">
                  <h5>
                    <i class="material-icons">laptop_mac</i>
                    Back-end development
                  </h5>
                  <ul class="list-inline trait__skills">
                    <li class="list-inline-item"><code>Python</code></li>
                    <li class="list-inline-item"><code>Django</code></li>
                    <li class="list-inline-item"><code>PostgreSQL</code></li>
                    <li class="list-inline-item"><code>RESTful API</code></li>
                    <li class="list-inline-item"><code>OAuth 2</code></li>
                    <li class="list-inline-item"><code>PHP</code></li>
                    <li class="list-inline-item"><code>MySQL</code></li>
                  </ul>
                </div>
                <div class="trait">
                  <h5>
                    <i class="material-icons">dns</i>
                    Dev ops
                  </h5>
                  <ul class="list-inline trait__skills">
                    <li class="list-inline-item"><code>Docker</code></li>
                    <li class="list-inline-item"><code>Ubuntu</code></li>
                    <li class="list-inline-item"><code>VPS</code></li>
                    <li class="list-inline-item"><code>Nginx</code></li>
                    <li class="list-inline-item"><code>uWSGI</code></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="trait col-lg-6">
            <h3>
              <i class="material-icons">brush</i>
              Design sense
            </h3>
            <p>Although I'm not a designer, I've developed a strong sense of design
              and user experience. I've studied the core fundamentals, designed
              many projects myself, and understand its importance.</p>
          </div>
          <div class="trait col-lg-6">
            <h3>
              <i class="material-icons">business_center</i>
              Business insight
            </h3>
            <p>Through my experience as an entrepreneur and freelancer,
              I've developed a strong understanding of business. I've also completed
              a Diploma of Business with
              <a href="https://www.the-entourage.edu.au/" target="_blank">The Entourage</a>—Australia's
              leading education institution for entrepreneurs.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section--padding">
      <div class="container">
        <h2>Values</h2>
        <p>Working together means collaborating, and collaborating well is more
          important than someone's skill-set.</p>
        <p>To get an insight into how I work, here's a glimpse of my personal and
          professional values I bring to the table.</p>
        <div class="row">
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">favorite</i>
              Passion
            </h4>
            <p>If you're not having fun, what's the point of living? I strive
              to make the most of every moment, and my work is no exception.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">school</i>
              Honesty
            </h4>
            <p>I believe in providing honest feedback and making sure there's no gaps
              in communication.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">school</i>
              Humour
            </h4>
            <p>Despite the fact I love my work and take it seriously, I do
              enjoy making things fun. You only get one life.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">school</i>
              Curiosity
            </h4>
            <p>I love to learn, and do so regularly and quickly. If I don't know
              something, you can count on me to pick it up.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">school</i>
              Unorthodox
            </h4>
            <p>I question everything. If I see a better way of doing things,
              I won't hesitate to discard what's done in the past.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">school</i>
              Teamwork
            </h4>
            <p>I understand cooperation is not only key to producing great
              work, but also for everyone's happiness and sanity.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">school</i>
              Independence
            </h4>
            <p>Although I'm able to work in a team, I'm very driven,
              self-motivated, with a strong work ethic, and work excellently on my own.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">hourglass_full</i>
              Quality
            </h4>
            <p>I'm meticulous with a keen eye for details. I'd rather spend
              more time doing things the right way, but I also understand perfection is a goal to progressively strive for.</p>
          </div>
          <div class="trait col-lg-3">
            <h4>
              <i class="material-icons">hourglass_full</i>
              Persistence
            </h4>
            <p>I don't give up. Challenges are common and I embrace them by
              persisting until I've achieved what I've set out for.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section--padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-right">
            <h2>Experience</h2>
            <p>Since late-2014 I've dedicated myself to mastering the art of
              web development, and have come a long way since.</p>
            <p>This experience ranges from working full-time as part of a team;
              freelancing with my own clients; and from building side-projects
              from start-to-finish.</p>
          </div>
          <div class="col-lg-7 offset-lg-1">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Freelancer</th>
                  <td>
                    <p>2016&mdash;Present</p>
                    <p>Full-stack Developer</p>
                    <p>As a freelancer, I've worked with several of my own clients,
                      on both the front-end and back-end. This includes web apps,
                      business websites, landing pages, and working with a graphic
                      designer to build his portfolio.</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Thirty4</th>
                  <td>
                    <p>2015&mdash;2016</p>
                    <p>Junior Software Developer</p>
                    <p>During my time at Thirty4 I worked as part of a team on a
                      variety of large and small-scale projects, on both the
                      front-end and back-end. This included working with large-scale
                      Australian enterprises and small businesses.</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Maker</th>
                  <td>
                    <p>2015&mdash;Present</p>
                    <p>Full-stack Developer</p>
                    <p>As someone who loves building things, I continue to work on
                      projects to this day. I've worked on a <a href="#">variety of
                      projects</a>, on both the front-end and back-end as a
                      full-stack developer.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="section--padding">
      <div class="container">
        <h4>Projects</h4>
        <p>As a maker, I love building things and have worked on many projects
          over the years.</p>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% webpack_static 'img/project.png' %}" alt="Vibite">
          </div>
          <div class="col-lg-6">
            <h6 class="text-secondary">2016 &bull; WEB APP</h6>
            <h3>Vibite</h3>
            <p>
              <code>Django</code>
              <code>ReactJS</code>
              <code>Redux</code>
              <code>Redis</code>
              <code>MongoDB</code>
              <code>Sass</code>
              <code>Docker</code>
            </p>
            <p>Vibite is a social network for music enthusiasts. It's a lorem ipsum
              sit amet. Ich bin super doof.</p>
            <p>
              <a href="#">CASE STUDY</a> &bull; <a href="#">VIEW SITE</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h6 class="text-secondary">2016 &bull; WEB APP</h6>
            <h3>Trausing</h3>
            <p>
              <code>Django</code>
              <code>ReactJS</code>
              <code>Redux</code>
              <code>Redis</code>
              <code>MongoDB</code>
              <code>Sass</code>
              <code>Docker</code>
            </p>
            <p>Vibite is a social network for music enthusiasts. It's a lorem ipsum
              sit amet. Ich bin super doof.</p>
            <p>
              <a href="#">CASE STUDY</a> &bull; <a href="#">VIEW SITE</a>
            </p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% webpack_static 'img/project.png' %}" alt="Vibite">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% webpack_static 'img/project.png' %}" alt="Vibite">
          </div>
          <div class="col-lg-6">
            <h6 class="text-secondary">2016 &bull; WEB APP</h6>
            <h3>Antun Debak's portfolio</h3>
            <p>
              <code>Django</code>
              <code>ReactJS</code>
              <code>Redux</code>
              <code>Redis</code>
              <code>MongoDB</code>
              <code>Sass</code>
              <code>Docker</code>
            </p>
            <p>Vibite is a social network for music enthusiasts. It's a lorem ipsum
              sit amet. Ich bin super doof.</p>
            <p>
              <a href="#">CASE STUDY</a> &bull; <a href="#">VIEW SITE</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h6 class="text-secondary">2016 &bull; WEB APP</h6>
            <h3>B4UBUY Home Inspections website</h3>
            <p>
              <code>Django</code>
              <code>ReactJS</code>
              <code>Redux</code>
              <code>Redis</code>
              <code>MongoDB</code>
              <code>Sass</code>
              <code>Docker</code>
            </p>
            <p>Vibite is a social network for music enthusiasts. It's a lorem ipsum
              sit amet. Ich bin super doof.</p>
            <p>
              <a href="#">CASE STUDY</a> &bull; <a href="#">VIEW SITE</a>
            </p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% webpack_static 'img/project.png' %}" alt="Vibite">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% webpack_static 'img/project.png' %}" alt="Vibite">
          </div>
          <div class="col-lg-6">
            <h6 class="text-secondary">2016 &bull; WEB APP</h6>
            <h3>Devarity Game Store</h3>
            <p>
              <code>Django</code>
              <code>ReactJS</code>
              <code>Redux</code>
              <code>Redis</code>
              <code>MongoDB</code>
              <code>Sass</code>
              <code>Docker</code>
            </p>
            <p>Vibite is a social network for music enthusiasts. It's a lorem ipsum
              sit amet. Ich bin super doof.</p>
            <p>
              <a href="#">CASE STUDY</a> &bull; <a href="#">VIEW SITE</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h6 class="text-secondary">2016 &bull; WEB APP</h6>
            <h3>My portfolio</h3>
            <p>
              <code>Django</code>
              <code>ReactJS</code>
              <code>Redux</code>
              <code>Redis</code>
              <code>MongoDB</code>
              <code>Sass</code>
              <code>Docker</code>
            </p>
            <p>Vibite is a social network for music enthusiasts. It's a lorem ipsum
              sit amet. Ich bin super doof.</p>
            <p>
              <a href="#">CASE STUDY</a> &bull; <a href="#">VIEW SITE</a>
            </p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% webpack_static 'img/project.png' %}" alt="Vibite">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{% webpack_static 'img/project.png' %}" alt="Vibite">
          </div>
          <div class="col-lg-6">
            <h6 class="text-secondary">2016 &bull; WEB APP</h6>
            <h3>Suprise Me Chef landing page</h3>
            <p>
              <code>Django</code>
              <code>ReactJS</code>
              <code>Redux</code>
              <code>Redis</code>
              <code>MongoDB</code>
              <code>Sass</code>
              <code>Docker</code>
            </p>
            <p>Vibite is a social network for music enthusiasts. It's a lorem ipsum
              sit amet. Ich bin super doof.</p>
            <p>
              <a href="#">CASE STUDY</a> &bull; <a href="#">VIEW SITE</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section id="about-me" class="section--padding gray">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <img
            class="img-fluid rounded mx-auto d-block mb-4"
            src="{% webpack_static 'img/daniel-spajic-portrait.jpg' %}"
            alt="Portrait of Daniel Spajic at his workstation">
        </div>
        <div class="col-lg-6">
          <h2>Get to know me</h2>
          <p>Hey there, I'm Daniel.</p>
          <p>Ever since I was a child I've been enamored by mechanical systems.
            Today coding satiates my desire to work complex, dynamic, mechanical
            systems.</p>
          <h3>Passions</h3>
          <ul>
            <li>Health & nutrition</li>
            <li>Cooking</li>
            <li>Music</li>
            <li>Making things</li>
            <li>Entrepreneurship</li>
            <li>Technology</li>
            <li>Gaming</li>
            <li>Self-development</li>
            <li>Learning</li>
            <li>Reading</li>
            <li>Travelling</li>
            <li>Pondering the universe</li>
            <li>Software development</li>
            <li>Environmental and other world issues</li>
            <li>Human and animal rights</li>
          </ul>
          <h3>Stalk me</h3>
          <ul>
            <li>Blog</li>
            <li>GitHub</li>
            <li>StackOverflow</li>
            <li>Twitter</li>
            <li>Medium</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="get-in-touch" class="section--padding">
    <div class="container">
      <p>Vibe with me and want to work together? Awesome, just fill in this form.</p>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Full name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
        </div>
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Subject</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </section>
{% endblock %}

{% block assets_footer %}
  {% render_bundle "homePage" "js" %}
{% endblock %}
