@import 'helpers';

/*
** Global styles
*/

html, body {
  overflow-x: hidden;
}

// Buttons

.btn {
  text-transform: capitalize;

  &-primary {
    color: $white;
  }
}

// Links

a {
  font-weight: $font-weight-bold;
  transition: .15s ease-out;
}

// Lists

ul:not(.list-inline) {
  padding-left: 1rem;

  li {
    padding-left: .5rem;
  }
}
