/*
** Project-specific variables and Bootstrap variable overrides
*/

// Spacing

$spacer: 1rem;

// Fonts

$font-size-base: 1rem;

$font-weight-medium: 500;

$h1-font-size: $font-size-base * 3;

// Colours

$orange: #ff7e33;
$white: #fff;

$primary: $orange;
$light: rgba($white, 0.5);

// Navbar

$navbar-padding-y: ($spacer / 1.5);

// Buttons + forms

$input-btn-padding-x: .75rem;
$input-btn-padding-y: .5rem;

$btn-font-weight: $font-weight-medium;
$btn-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
