/*
** Project-specific variables and Bootstrap variable overrides
*/

// Spacing

$spacer: 1rem;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// Colours

$gray-800: #343a40;
$gray-900: #131518;

$orange: #ff7e33;
$white: #fff;

$primary: $orange;
$light: rgba($white, .5);
$dark: rgba(#0b0017, .95);

// Fonts

$font-size-base: 1rem;
$line-height-base: 2;

$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$h1-font-size: $font-size-base * 3;
$headings-color: $gray-800;
$headings-font-weight: $font-weight-bold;

// Navbar

$navbar-padding-y: ($spacer / 1.5);

// Buttons + forms

$input-btn-padding-x: .75rem;
$input-btn-padding-y: .25rem;
$input-btn-padding-x-lg: 1.25rem;
$input-btn-padding-y-lg: .75rem;

$btn-font-weight: $font-weight-medium;
$btn-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);

// Icons

$icon-spacing: .75rem;
